.App {
    text-align: center;
}


.App-intro {
    font-size: large;
}

.Chat-box {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 400px;
    background-color: ghostwhite;
    border: 3px solid lightblue;
    border-radius: 3px;

}

.Messages-box {
    position: absolute;
    text-align: left;
    padding: 10px;
    width: 330px;
    height: 300px;
    overflow-y: scroll;

}

.Usertext-box {
    position: absolute;
    padding: 10px;
    bottom: 0;
    height: 60px;

}

.textbox {
    width: 317px;
    height: 50px;
    padding: 5px;
    resize: none;
    font-size: medium;
    outline: none;
    border: 2px solid darkgrey;
    border-radius: 3px;
}


.user-name {
    font-weight: bold;

}


