.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Chat-box {
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 400px;
  background-color: ghostwhite;
  border: 5px solid lightblue;

}

.Messages-box {
  position: absolute;
  text-align: left;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;

}

.Usertext-box {
  position: absolute;
  padding: 10px;
  bottom: 0;
  height: 60px;

}

.textbox {
  width: 330px;
  height: 100%;
  resize: none;
  font-size: medium;
  padding: 0;
  outline: none;
  border: 2px solid darkgrey;
}





@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
